<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TISCO สินเชื่อและประกัน</title>


    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/1-col-portfolio.css" rel="stylesheet">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="opacity: 0.8">
      <div class="container">
          <a class="navbar-brand" href="index.html"><img src="Image/tiscologo.png" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">สินเชื่อ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index3.html">ประกัน</a>
            </li>
            <li class="nav-item"><input type="text" class="form-control" placeholder="search"></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <header>
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4 text-center">สินเชื่อ<br><small>รายการสินเชื่อทั้งหมดที่มีให้บริการ</small></h1>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="t001.html">
              <img class="img-fluid rounded mb-3 mb-md-0" src="Image/t001.jpg" alt="ภาพสินเชื่อบ้านเพื่อซื้อที่อยู่อาศัย" style="height: 300px; width: 700px">
          </a>
        </div>
        <div class="col-md-5">
          <h3>สินเชื่อบ้านเพื่อซื้อที่อยู่อาศัย</h3>
          <p>สินเชื่อสำหรับคนอยากมีบ้าน เรื่องบ้านให้เป็นเรื่องง่ายๆ ของทิสโก้.</p>
          <a class="btn btn-primary" href="t001.html">รายละเอียดเพิ่มเติม</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
          <a href="t002.html">
              <img class="img-fluid rounded mb-3 mb-md-0" src="Image/t002.jpg" alt="ภาพสินเชื่อบ้านสำหรับรีไฟแนนซ์" style="height: 300px; width: 700px">
          </a>
        </div>
        <div class="col-md-5">
          <h3>สินเชื่อบ้านสำหรับรีไฟแนนซ์</h3>
          <p>ให้คุณสามารถลดค่างวดให้ผ่อนเบากว่าเดิม หรือเลือกผ่อนใกล้เคียงค่างวดเดิมแต่กู้เพิ่มได้.</p>
          <a class="btn btn-primary" href="t002.html">รายละเอียดเพิ่มเติม</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-7">
          <a href="t003.html">
              <img class="img-fluid rounded mb-3 mb-md-0" src="Image/t003.png" alt="ภาพสินเชื่อเคหะเอนกประสงค์" style="height: 300px; width: 700px">
          </a>
        </div>
        <div class="col-md-5">
          <h3>สินเชื่อเคหะเอนกประสงค์</h3>
          <p>เปลี่ยนบ้านเป็นเงินสดง่ายๆ</p>
          <a class="btn btn-primary" href="t003.html">รายละเอียดเพิ่มเติม</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Four -->
      <div class="row">

        <div class="col-md-7">
          <a href="t005.html">
            <img class="img-fluid rounded mb-3 mb-md-0" src="Image/t005.jpg" alt="ภาพtisco mortgage saver" style="height: 300px; width: 700px">
          </a>
        </div>
        <div class="col-md-5">
          <h3>TISCO Mortgage Saver</h3>
          <p>"ลดภาระ จบในบัญชีเดียว บริหารเงินอย่างชาญฉลาด มีเพียงบัญชีเดียวช่วยประหยัดดอกเบี้ย และเป็นเจ้าของบ้านได้เร็วขึ้น"</p>
          <a class="btn btn-primary" href="t005.html">รายละเอียดเพิ่มเติม</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
      
      <!-- Project Five -->
      <div class="row">

        <div class="col-md-7">
          <a href="t006.html">
              <img class="img-fluid rounded mb-3 mb-md-0" src="Image/t006.png" alt="ภาพสินเชื่อรถใหม่" style="height: 300px; width: 700px">
          </a>
        </div>
        <div class="col-md-5">
          <h3>สินเชื่อรถใหม่</h3>
          <p>ผู้ค้ำประกันต้องใช้เอกสารประกอบดังที่ระบุข้างต้น</p>
          <a class="btn btn-primary" href="t006.html">รายละเอียดเพิ่มเติม</a>
        </div>
      </div>
      <!-- /.row -->
      
      <hr>
      
      <!-- Project Six -->
      <div class="row">

        <div class="col-md-7">
          <a href="t007.html">
              <img class="img-fluid rounded mb-3 mb-md-0" src="Image/t007.png" alt="ภาพสินเชื่อรถเก่า" style="height: 300px; width: 700px">
          </a>
        </div>
        <div class="col-md-5">
          <h3>สินเชื่อรถเก่า</h3>
          <p>ผู้ค้ำประกันต้องใช้เอกสารประกอบดังที่ระบุข้างต้น</p>
          <a class="btn btn-primary" href="t007.html">รายละเอียดเพิ่มเติม</a>
        </div>
      </div>
      <!-- /.row -->
      
      <hr>
      
      <!-- Project Seven -->
      <div class="row">

        <div class="col-md-7">
          <a href="t008.html">
            <img class="img-fluid rounded mb-3 mb-md-0" src="Image/t008.jpg" alt="ภาพสินเชื่อทะเบียนรถ" style="height: 300px; width: 700px">
          </a>
        </div>
        <div class="col-md-5">
          <h3>สินเชื่อทะเบียนรถยนต์</h3>
          <p>สินเชื่อสำหรับผู้ที่เป็นเจ้าของรถยนต์ปลอดภาระ และต้องการเงินลงทุนระยะสั้น อัตราดอกเบี้ยต่ำ ขั้นตอนง่าย สะดวก รวดเร็ว ไม่ต้องโอนทะเบียน ไม่ต้องจอดรถ รับเงินรวดเร็วภายใน 3 วันทำการ</p>
          <a class="btn btn-primary" href="t008.html">รายละเอียดเพิ่มเติม</a>
        </div>
      </div>
      <!-- /.row -->
      
      <hr>
      
      <!-- Project Eight -->
      <div class="row">

        <div class="col-md-7">
          <a href="t009.html">
            <img class="img-fluid rounded mb-3 mb-md-0" src="Image/t009.png" alt="ภาพสินเชื่อบำเหน็จตกทอด" style="height: 300px; width: 700px">
          </a>
        </div>
        <div class="col-md-5">
          <h3>สินเชื่อบำเหน็จตกทอด</h3>
          <p>โอกาสใช้ชีวิตแบบที่คุณต้องการ หลังวัยเกษียณ ด้วยสินเชื่อบำเหน็จตกทอด อนุมัติง่าย รับเงินไว</p>
          <a class="btn btn-primary" href="t009.html">รายละเอียดเพิ่มเติม</a>
        </div>
      </div>
      <!-- /.row -->
      
      <hr>

    </div>
    <!-- /.container -->
    </header>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">POWERED BY BOOTSTRAP<br>เปิดมาผ่างเลยคืออะไร<br>ตอนนี้เขาไม่ใช่มนุษย์ธรรมดาแล้ว เขาคือ<br>อันเฟนอค</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
